<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <title>weekday</title>
</head>
<body>
    <%= kindOfDay %>
    
    <ul>
        <li>buy</li>
        <li>cook</li>
        <li>eat</li>
        <% for(var i=0;i<nameList.length;i++){ %>
            <li><%= nameList[i] %></li>
        <% } %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button">add</button>
    </form>
    
</body>
</html>