<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <title>weekday</title>
</head>
<body>
    <% if (kindOfDay === "saturday" || kindOfDay === "sunday"){ %>
        <h1 style="color: purple;">its a <%= kindOfDay %> !</h1>
    <% }else{ %>
        <h1 style="color: rgb(60, 0, 128);">its a <%= kindOfDay %> !</h1>

    <% } %>
    
</body>
</html>